<!-- begin .timetable -->
<section class="timetable">
  <!-- begin .container -->
  <div class="container">
    <!-- begin .box-actions -->
    <div class="box-actions">
      <a href="" class="button">Расписание занятий</a>
    </div>
    <!-- end .box-actions -->
    <!-- begin .row -->
    <div class="row timetable-list">
      <!-- begin .col-xs-3 -->
      <div class="col-xs-3">

        <!-- begin .timetable_box -->
        <div class="timetable_box">
          <!-- begin .timetable_head -->
          <div class="timetable_head">
            <!-- begin .timetable_head-bg -->
            <div class="timetable_head-bg" style="background-image: url('assets/images/timetable-1.png');"></div>
            <!-- end .timetable_head-bg -->
          </div>
          <!-- end .timetable_head -->
          <!-- begin .timetable_body -->
          <div class="timetable_body">
            <!-- begin .timetable_name -->
            <div class="timetable_name">Детский факультет</div>
            <!-- end .timetable_name -->
            <ul class="timetable_list">
              <li class="timetable_list-item"><a href="#" class="timetable_list-link">Раннее развитие с 1 до 6 лет</a></li>
              <li class="timetable_list-item"><a href="#" class="timetable_list-link">Подготовка к школе</a></li>
              <li class="timetable_list-item"><a href="#" class="timetable_list-link">Творчество</a></li>
              <li class="timetable_list-item"><a href="#" class="timetable_list-link">Sand Art (песочное рисование)</a></li>
            </ul>
          </div>
          <!-- end .timetable_body -->
          <!-- begin .timetable_footer -->
          <div class="timetable_footer"><a href="" class="button button-outline">Смотреть все</a></div>
          <!-- end .timetable_footer -->
        </div>
        <!-- end .timetable_box -->

      </div>
      <!-- end .col-xs-3 -->
    </div>
    <!-- end .row -->
  </div>
  <!-- end .container -->
</section>
<!-- end .timetable -->
