<!-- begin .breadcrumbs -->
<section class="breadcrumbs">
  <!-- begin .container -->
  <div class="container">
    <!-- begin .breadcrumbs-list -->
    <ul class="breadcrumbs-list">
      <li class="breadcrumbs-item"><a href="/" class="breadcrumbs-link">Главная</a></li>
      <li class="breadcrumbs-item devider"><span class="arrow">&rarr;</span></li>
      {% for i in breadcrumbs %}
        <li class="breadcrumbs-item"><a href="{{i.link}}" class="breadcrumbs-link">{{i.name}}</a></li>
        {% if i.devider %}<li class="breadcrumbs-item devider"><span class="arrow">&rarr;</span></li>{% endif %}
      {% endfor %}
    </ul>
    <!-- end .breadcrumbs-list -->
  </div>
  <!-- end .container -->
</section>
<!-- end .breadcrumbs -->
