.icon {
  position: relative;
  display: inline-block;
  transition: all .3s ease;

  &-loupe {
    @include size(16px);
    background-image: inline('./assets/images/icon-loupe.png');
  }

  &-watch {
    @include size(20px);
    background-image: inline('./assets/images/watch.png');
  }
}
