// Ссылки
a {
  transition: .3s ease;
  text-decoration: none;
  color: $link-color;
  border-bottom: 1px solid;

  &:focus {
    outline: none;
  }

  &:hover,
  &.hover {
    color: $link-hover-color;
    transition: .2s ease;
  }

  /*
  &:visited {
    color: $link-visited-color;

    &:hover {
      color: $link-hover-color;
      transition: .2s ease;
    }
  }
  */

  &:active,
  &.active {
    color: $link-active-color;
  }
}


button[disabled=disabled],
button:disabled,
.button:disabled,
.button.disabled {
  cursor: not-allowed;
  //pointer-events: none;
  color: rgb(173, 177, 185);
  background-color: rgb(247, 247, 248);
  border-color: rgb(214, 218, 221);
}

.button {
  background-color: #fedf11;
  border: 1px solid #fedf11;
  border-radius: 5px;
  padding: 15px 35px 15px 35px;
  color: #1c1024;
  font-family: 'FuturaDemiC';
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transition: all .3s ease;
  /* overflow: hidden; */

  &-outline {
    background-color: transparent;
    border-color: #633e7a;
    color: #633e7a;
  }
}
