.features {
  background-color: #e9e9e9;
  padding-top: 42px;
  padding-bottom: 62px;

  &-list {
    padding-top: 60px;
  }

  &_icon {
    margin-bottom: 50px;
    min-height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
  }

  &_description {
    color: #1c1024;
    font-size: 16px;

    p {
      color: #1c1024;
      font-size: 16px;
      text-align: center;
    }
  }
}
