<!-- begin .features -->
<section class="features">
  <!-- begin .container -->
  <div class="container">
    <!-- begin .box-headline -->
    <div class="box-headline">
      <h2 class="h2">Наши приемущества</h2>
    </div>
    <!-- end .box-headline -->
    <!-- begin .row -->
    <div class="features-list row">
      <!-- begin .col-xs-3 -->
      <div class="col-xs-3">

        <!-- begin .features_box -->
        <div class="features_box">
          <!-- begin .features_icon -->
          <div class="features_icon">
            <img src="assets/images/features-item1.png" alt="Наши приемущества">
          </div>
          <!-- end .features_icon -->
          <!-- begin .features_description -->
          <div class="features_description">
            <p>Мы <mark>надежны</mark>! Многолетний опыт работы гарантирует результат</p>
          </div>
          <!-- end .features_description -->
        </div>
        <!-- end .features_box -->

      </div>
      <!-- end .col-xs-3 -->
      <!-- begin .col-xs-3 -->
      <div class="col-xs-3">

        <!-- begin .features_box -->
        <div class="features_box">
          <!-- begin .features_icon -->
          <div class="features_icon">
            <img src="assets/images/features-item2.png" alt="Наши приемущества">
          </div>
          <!-- end .features_icon -->
          <!-- begin .features_description -->
          <div class="features_description">
            <p>Интегрированная во все направления деятельности Центра технология Программ Сильного Мышления многократно повышает <mark>результативность и успешность</mark> учащихся</p>
          </div>
          <!-- end .features_description -->
        </div>
        <!-- end .features_box -->

      </div>
      <!-- end .col-xs-3 -->
      <!-- begin .col-xs-3 -->
      <div class="col-xs-3">

        <!-- begin .features_box -->
        <div class="features_box">
          <!-- begin .features_icon -->
          <div class="features_icon">
            <img src="assets/images/features-item3.png" alt="Наши приемущества">
          </div>
          <!-- end .features_icon -->
          <!-- begin .features_description -->
          <div class="features_description">
            <p>Мы выбираем <mark>лучших</mark> преподавателей и контролируем динамику обучения</p>
          </div>
          <!-- end .features_description -->
        </div>
        <!-- end .features_box -->

      </div>
      <!-- end .col-xs-3 -->
      <!-- begin .col-xs-3 -->
      <div class="col-xs-3">

        <!-- begin .features_box -->
        <div class="features_box">
          <!-- begin .features_icon -->
          <div class="features_icon">
            <img src="assets/images/features-item4.png" alt="Наши приемущества">
          </div>
          <!-- end .features_icon -->
          <!-- begin .features_description -->
          <div class="features_description">
            <p>Мы работаем не только на <mark>рост наших клиентов</mark>, но и сами следим за современными тенденциями и постоянно повышаем свою квалификацию</p>
          </div>
          <!-- end .features_description -->
        </div>
        <!-- end .features_box -->

      </div>
      <!-- end .col-xs-3 -->
    </div>
    <!-- end .row -->
  </div>
  <!-- end .container -->
</section>
<!-- end .features -->
