---
title: 'Что же я наделал?'
description:
keywords:
bodyclass:
breadcrumbs:
 - link: index.html
   name: Стартовая страница с прогрессом работ по проекту
   devider: false
---

{% extends "layouts/layout.html" %}

{% block header %}
  {% include "components/header/header.html" %}
  <style>
    .progress-page { margin: 30px 0; }
    .sitemap .h2 { margin-bottom: 30px; }
    .progress-page .navigation { display: block; }
    .progress-page .navigation__header { margin-bottom: 8px; }
    .progress-page .navigation__item { margin-bottom: 4px; }
    .progress-page .navigation-name { font-weight: 500; }
    .progress-page ul, .progress-page li { margin-left: 0; }
    .progress-page ul li { list-style: none; position: relative; display: flex; flex-direction: row; align-items: center; }
    .progress-page ul ul { display: block; margin: 8px 0 16px 24px; padding: 0; }
    .progress-page ul ul li .progress-design { margin-left: -25px; }
    .progress-page ul ul ul li .progress-design { margin-left: -45px; }
    .progress-page .progress { background-color: #fff; flex-basis: 300px; line-height: 16px; }
    .progress-page .progress .url__info { margin: -2px 0 0 0; }
    .progress-page .progress .url__file { color: #b6b6b6; font-size: 11px; font-style: italic; display: inline-block; line-height: 1; }
    .progress-page .progress progress { width: 200px; }
    .progress-page .progress progress, .progress-page .progress .progress_value { display: inline-block; }
    .progress-page .progress_value { margin-left: 8px; }
    .progress-page .progress-time { color: #b6b6b6; pointer-events: none; font-size: 12px; }
    .progress-page code, .progress-page tt { padding: .2rem .4rem; font-size: 90%; color: #2f6f9f; background-color: #f7f7f9; border-radius: .25rem; }
    .progress-page p > abbr[title] { border-bottom: 1px dashed #ccc; text-decoration: none; cursor: help; font-style: italic; }
    .progress-page pre { background: #fff0be; font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace; padding: 15px 15px; font-size: 12px; line-height: 1.335; margin-top: 20px; overflow-x: auto; display: block; }
    .progress-page h2 { margin-top: 15px; margin-bottom: 10px; }
    .progress-page .foldable__control { display: inline-block; }
    .progress-page .foldable__control .foldable__link { position: relative; }
    .progress-page .foldable__control .foldable__link:after { content: ''; width: 0; height: 0; border: 5px solid; border-right: 4px dashed transparent; border-left: 4px dashed transparent; border-width: 5px 4px 0; margin: 0 -8px 0 0; position: relative; top: 14px; left: 4px; transition: 0s ease; }
    .progress-page .foldable__control.unfolded .foldable__link:after { top: -10px; border-width: 0 4px 5px; }
    .progress-page .pseudo { color: #21aa00; border-bottom: 1px dashed; transition: .3s ease; cursor: pointer; }
    .progress-page .pseudo:hover { color: #000; border-bottom-color: inherit; }
  </style>
{% endblock %}

{% block content %}
  {% include "components/breadcrumbs/breadcrumbs.html" %}
<!-- begin .progress-page -->
<section class="progress-page">
  <!-- begin .container -->
  <div class="container">
    <!-- begin .sitemap -->
    <div class="sitemap">
      <h2 class="h2">Прогресс работ по проекту «Центр роста»</h2>
      <ul class="navigation">
        <li class="navigation__header">
          <div class="progress navigation-name">Карта сайта</div>
          <div class="progress navigation-name">Дизайн</div>
          <div class="progress navigation-name">Вёрстка</div>
          <div class="progress navigation-name">Время</div>
        </li>
        <li class="navigation__item">
          <div class="progress progress-link">
            <div class="url">
              <div class="url__link">
                <a href="main.html">Главная страница</a>
              </div><!-- /.url__link -->
              <div class="url__info">
                <span class="url__file">app/templates/pages/main.html</span>
              </div><!-- /.url__info -->
            </div><!-- /.url -->
          </div><!-- /.progress-link -->
          <div class="progress progress-design">
            <progress max="100" value="100"></progress>
            <span class="progress_value">100%</span>
          </div><!-- /.progress-design -->
          <div class="progress progress-html">
            <progress max="100" value="80"></progress>
            <span class="progress_value">80%</span>
          </div><!-- /.progress-html -->
          <div class="progress progress-time">
            &ndash;&ndash;:&ndash;&ndash;:&ndash;&ndash;
          </div><!-- /.progress-time -->
        </li>
        <li class="navigation__item">
          <div class="progress progress-link">
            <div class="url">
              <div class="url__link">
                <a href="timetable.html">Расписание</a>
              </div><!-- /.url__link -->
              <div class="url__info">
                <span class="url__file">app/templates/pages/timetable.html</span>
              </div><!-- /.url__info -->
            </div><!-- /.url -->
          </div><!-- /.progress-link -->
          <div class="progress progress-design">
            <progress max="100" value="100"></progress>
            <span class="progress_value">100%</span>
          </div><!-- /.progress-design -->
          <div class="progress progress-html">
            <progress max="100" value="15"></progress>
            <span class="progress_value">15%</span>
          </div><!-- /.progress-html -->
          <div class="progress progress-time">
            &ndash;&ndash;:&ndash;&ndash;:&ndash;&ndash;
          </div><!-- /.progress-time -->
        </li>
        <li class="navigation__item">
          <div class="progress progress-link">
            <div class="url">
              <div class="url__link">
                <a href="category.html">Категория <em>(Творческое развитие)</em></a>
              </div><!-- /.url__link -->
              <div class="url__info">
                <span class="url__file">app/templates/pages/category.html</span>
              </div><!-- /.url__info -->
            </div><!-- /.url -->
          </div><!-- /.progress-link -->
          <div class="progress progress-design">
            <progress max="100" value="100"></progress>
            <span class="progress_value">100%</span>
          </div><!-- /.progress-design -->
          <div class="progress progress-html">
            <progress max="100" value="80"></progress>
            <span class="progress_value">80%</span>
          </div><!-- /.progress-html -->
          <div class="progress progress-time">
            &ndash;&ndash;:&ndash;&ndash;:&ndash;&ndash;
          </div><!-- /.progress-time -->
        </li>
        <li class="navigation__item">
          <div class="progress progress-link">
            <div class="url">
              <div class="url__link">
                <a href="single.html">Контент-страница <em>(Танцы)</em></a>
              </div><!-- /.url__link -->
              <div class="url__info">
                <span class="url__file">app/templates/pages/single.html</span>
              </div><!-- /.url__info -->
            </div><!-- /.url -->
          </div><!-- /.progress-link -->
          <div class="progress progress-design">
            <progress max="100" value="100"></progress>
            <span class="progress_value">100%</span>
          </div><!-- /.progress-design -->
          <div class="progress progress-html">
            <progress max="100" value="15"></progress>
            <span class="progress_value">15%</span>
          </div><!-- /.progress-html -->
          <div class="progress progress-time">
            &ndash;&ndash;:&ndash;&ndash;:&ndash;&ndash;
          </div><!-- /.progress-time -->
        </li>
        <li class="navigation__item">
          <div class="progress progress-link">
            <div class="url">
              <div class="url__link">
                <a href="ui.html">UI: Контролы и компоненты</a>
              </div><!-- /.url__link -->
              <div class="url__info">
                <span class="url__file">app/templates/pages/ui.html</span>
              </div><!-- /.url__info -->
            </div><!-- /.url -->
          </div><!-- /.progress-link -->
          <div class="progress progress-design">
            <progress max="100" value="0"></progress>
            <span class="progress_value progress-time">&ndash;</span>
          </div><!-- /.progress-design -->
          <div class="progress progress-html">
            <progress max="100" value="0"></progress>
            <span class="progress_value">0%</span>
          </div><!-- /.progress-html -->
          <div class="progress progress-time">
            &ndash;&ndash;:&ndash;&ndash;:&ndash;&ndash;
          </div><!-- /.progress-time -->
        </li>
      </ul><!-- /ul.navigation -->
    </div>
    <!-- end .sitemap -->
  </div>
  <!-- end .container -->
</section>

<!-- end .progress-page -->
{% endblock %}
