---
title: '«Центр роста» — Главная страница'
description:
keywords:
bodyclass:
---

{% extends "layouts/layout.html" %}

{% block header %}
  {% include "components/header/header.html" %}
{% endblock %}

{% block content %}
  {% include "components/slider/slider.html" %}
  {% include "components/timetable/timetable.html" %}
  {% include "components/features/features.html" %}
  {% include "components/teachers/teachers.html" %}
  {% include "components/feed/feed.html" %}
  {% include "components/reviews/reviews.html" %}
{% endblock %}
