---
title: '«Центр роста» — Танцы'
description:
keywords:
bodyclass:
breadcrumbs:
 - link: category.html
   name: Творческое развитие
   devider: true
 - link: single.html
   name: Танцы
   devider: false
---

{% extends "layouts/layout.html" %}

{% block header %}
  {% include "components/header/header.html" %}
{% endblock %}

{% block content %}
  {% include "components/slider/slider.html" %}
  {% include "components/breadcrumbs/breadcrumbs.html" %}
  {% include "components/content/single.html" %}
{% endblock %}
