<footer class="footer">
  <!-- begin .footer_company -->
  <div class="footer_company">
    <!-- begin .container -->
    <div class="container">
123
    </div>
    <!-- end .container -->
  </div>
  <!-- end .footer_company -->
  <!-- begin .footer_copyright -->
  <div class="footer_copyright">
    <!-- begin .container -->
    <div class="container">
      <!-- begin .footer_logo -->
      <div class="footer_logo">
        <a href="/" class="logo-link-footer">
          <img src="assets/images/logo-white.png" alt="Логотип компании «Центр Роста»" width="81" height="71">
        </a>
      </div>
      <!-- end .footer_logo -->
      <!-- begin .footer_copyright_info -->
      <div class="footer_copyright_info">
        <p>© Центр роста 2018, Совместный проект Института Развития Личности и Программ Сильного Мышления под руководством И.А.Гавриловой</p>
        <p>Все права защищены Использование материалов без согласия Центр Роста запрещено</p>
      </div>
      <!-- end .footer_copyright_info -->
    </div>
    <!-- end .container -->
  </div>
  <!-- end .footer_copyright -->
</footer>

<!-- begin .floating-controls -->
<div class="floating-controls">
  <!-- begin .rocket-up -->
  <div class="rocket-up" id="scroller">
    <!-- begin .rocket-up_box -->
    <div class="rocket-up_box">
      <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="28" height="29"><path d="M27.999 14.22l-9.333-9.482L14-.003 9.333 4.738 0 14.22l4.667 4.741 6.043-6.14v16.177h6.6V12.842l6.023 6.119 4.666-4.741z" fill="currentColor" fill-rule="evenodd"/></svg>
    </div>
    <!-- end .rocket-up_box-->
  </div>
  <!-- end .rocket-up -->
</div>
<!-- end .floating-controls -->
