<footer class="footer">
  <!-- begin .footer_company -->
  <div class="footer_company">
    <!-- begin .container -->
    <div class="container">

      <!-- begin .row -->
      <div class="row">

        <!-- begin .col-xs-6 -->
        <div class="col-xs-6">

          <!-- begin .row -->
          <div class="row">

            <!-- begin .col-xs-6 -->
            <div class="col-xs-6">
              <ul class="footer-menu">
                <li class="footer-menu_item"><a href="#" class="footer-menu_link">Главная</a></li>
                <li class="footer-menu_item"><a href="#" class="footer-menu_link">Информация о центре</a></li>
                <li class="footer-menu_item"><a href="#" class="footer-menu_link">Программы</a></li>
                <li class="footer-menu_item"><a href="#" class="footer-menu_link">Преподаватели</a></li>
                <li class="footer-menu_item"><a href="#" class="footer-menu_link">Отзывы</a></li>
                <li class="footer-menu_item"><a href="#" class="footer-menu_link">Новости</a></li>
                <li class="footer-menu_item"><a href="#" class="footer-menu_link">Контакты</a></li>
              </ul>
            </div>
            <!-- end .col-xs-6 -->

            <!-- begin .col-xs-6 -->
            <div class="col-xs-6">
              <ul class="footer-menu">
                <li class="footer-menu_item"><a href="#" class="footer-menu_link">Детский факультет</a></li>
                <li class="footer-menu_item"><a href="#" class="footer-menu_link">Школьный факультет</a></li>
                <li class="footer-menu_item"><a href="#" class="footer-menu_link">Взрослый факультет</a></li>
                <li class="footer-menu_item"><a href="#" class="footer-menu_link">Досуг</a></li>
              </ul>
            </div>
            <!-- end .col-xs-6 -->
          </div>
          <!-- end .row -->

        </div>
        <!-- end .col-xs-6 -->

        <!-- begin .col-xs-6 -->
        <div class="col-xs-6">

          <!-- begin .row -->
          <div class="row">
            <!-- begin .col-xs-6 -->
            <div class="col-xs-6">
              <!-- begin .footer_contacts -->
              <div class="footer_contacts">
                <h4 class="footer-menu-header">Наши контакты</h4>
                <a href="tel:+74953503550" class="contacts_tel tel tel--big">+7 495 350 35 50</a>
                <a href="tel:+74952707580" class="contacts_tel tel tel--big">+7 495 270 75 80</a>
                <a href="" class="contacts_email">centr_rosta@info.ru</a>
                <address class="contacts_address">
                  <!-- begin .contacts_address_info -->
                  <div class="contacts_address_info">г. Москва, ул. Ленина, офис 104</div>
                  <!-- end .contacts_address_info -->
                  <!-- begin .contacts_address_time -->
                  <div class="contacts_address_time contacts-time">
                    <!-- begin .contacts-time_icon -->
                    <div class="contacts-time_icon"><img src="assets/images/watch-yellow.png" alt="Время работы" width="19" height="19"></div>
                    <!-- end .contacts-time_icon -->
                    <!-- begin .contacts-time_time -->
                    <div class="contacts-time_time">с 9:00 до 21:00</div>
                    <!-- end .contacts-time_time -->
                  </div>
                  <!-- end .contacts_address_time -->
                </address>
              </div>
              <!-- end .footer_contacts -->
            </div>
            <!-- end .col-xs-6 -->
            <!-- begin .col-xs-6 -->
            <div class="col-xs-6"></div>
            <!-- end .col-xs-6 -->
          </div>
          <!-- end .row -->

        </div>
        <!-- end .col-xs-6 -->

      </div>
      <!-- end .row -->

    </div>
    <!-- end .container -->
  </div>
  <!-- end .footer_company -->
  <!-- begin .footer_copyright -->
  <div class="footer_copyright">
    <!-- begin .container -->
    <div class="container">
      <!-- begin .footer_logo -->
      <div class="footer_logo">
        <a href="/" class="logo-link-footer">
          <img src="assets/images/logo-white.png" alt="Логотип компании «Центр Роста»" width="81" height="71">
        </a>
      </div>
      <!-- end .footer_logo -->
      <!-- begin .footer_copyright_info -->
      <div class="footer_copyright_info">
        <p>© Центр роста 2018, Совместный проект Института Развития Личности и Программ Сильного Мышления под руководством И.А.Гавриловой</p>
        <p>Все права защищены Использование материалов без согласия Центр Роста запрещено</p>
      </div>
      <!-- end .footer_copyright_info -->
    </div>
    <!-- end .container -->
  </div>
  <!-- end .footer_copyright -->
</footer>

<!-- begin .floating-controls -->
<div class="floating-controls">
  <!-- begin .rocket-up -->
  <div class="rocket-up" id="scroller">
    <!-- begin .rocket-up_box -->
    <div class="rocket-up_box">
      <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="28" height="29"><path d="M27.999 14.22l-9.333-9.482L14-.003 9.333 4.738 0 14.22l4.667 4.741 6.043-6.14v16.177h6.6V12.842l6.023 6.119 4.666-4.741z" fill="currentColor" fill-rule="evenodd"/></svg>
    </div>
    <!-- end .rocket-up_box-->
  </div>
  <!-- end .rocket-up -->
</div>
<!-- end .floating-controls -->
