<footer class="footer">
  <!-- begin .footer_wrap -->
  <div class="footer_wrap">
    <!-- begin .footer_logo -->
    <div class="footer_logo">
      <a href="/" class="logo-link-footer">
        <img src="assets/images/logo-white.png" alt="Логотип компании «Центр Роста»" width="81" height="71">
      </a>
    </div>
    <!-- end .footer_logo -->
    <!-- begin .footer_copyright -->
    <div class="footer_copyright">
      <p>© Центр роста 2018, Совместный проект Института Развития Личности и Программ Сильного Мышления под руководством И.А.Гавриловой</p>
      <p>Все права защищены Использование материалов без согласия Центр Роста запрещено</p>
    </div>
    <!-- end .footer_copyright -->
  </div>
  <!-- end .footer_wrap -->
</footer>
