<!-- begin .content-page -->
<div class="content-page">
  <!-- begin .category -->
  <div class="category">
    <!-- begin .container -->
    <div class="container">
      <!-- begin .box-headline -->
      <div class="box-headline">
        <h1 class="h2">Творческое развитие</h1>
      </div>
      <!-- end .box-headline -->
      <!-- begin .row cards-list -->
      <div class="row cards-list">
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
          <!-- begin .card -->
          <div class="card">
            <a href="#" class="card-link">
            <!-- begin .card-box -->
            <div class="card-box">
              <!-- begin .card-image -->
              <div class="card-image">
                <img src="assets/images/category-1.png" alt="Творческое развитие">
              </div>
              <!-- end .card-image -->
              <!-- begin .card-name -->
              <div class="card-name">Творчество <span>2-5 лет</span></div>
              <!-- end .card-name -->
            </div>
            <!-- end .card-box -->
            </a>
          </div>
          <!-- end .card -->
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
          <!-- begin .card -->
          <div class="card">
            <a href="#" class="card-link">
            <!-- begin .card-box -->
            <div class="card-box">
              <!-- begin .card-image -->
              <div class="card-image">
                <img src="assets/images/category-2.png" alt="Творческое развитие">
              </div>
              <!-- end .card-image -->
              <!-- begin .card-name -->
              <div class="card-name">Живопись  <span>5-7 лет</span></div>
              <!-- end .card-name -->
            </div>
            <!-- end .card-box -->
            </a>
          </div>
          <!-- end .card -->
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
          <!-- begin .card -->
          <div class="card">
            <a href="#" class="card-link">
            <!-- begin .card-box -->
            <div class="card-box">
              <!-- begin .card-image -->
              <div class="card-image">
                <img src="assets/images/category-3.png" alt="Творческое развитие">
              </div>
              <!-- end .card-image -->
              <!-- begin .card-name -->
              <div class="card-name">Арт-Студия<span>6-7 лет</span></div>
              <!-- end .card-name -->
            </div>
            <!-- end .card-box -->
            </a>
          </div>
          <!-- end .card -->
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
          <!-- begin .card -->
          <div class="card">
            <a href="#" class="card-link">
            <!-- begin .card-box -->
            <div class="card-box">
              <!-- begin .card-image -->
              <div class="card-image">
                <img src="assets/images/category-4.png" alt="Творческое развитие">
              </div>
              <!-- end .card-image -->
              <!-- begin .card-name -->
              <div class="card-name">Sand Art – <span class="norm">рисование песком</span> <span>5-7 лет</span></div>
              <!-- end .card-name -->
            </div>
            <!-- end .card-box -->
            </a>
          </div>
          <!-- end .card -->
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
          <!-- begin .card -->
          <div class="card">
            <a href="#" class="card-link">
            <!-- begin .card-box -->
            <div class="card-box">
              <!-- begin .card-image -->
              <div class="card-image">
                <img src="assets/images/category-5.png" alt="Творческое развитие">
              </div>
              <!-- end .card-image -->
              <!-- begin .card-name -->
              <div class="card-name">Ритмика  <span>2-4 года</span></div>
              <!-- end .card-name -->
            </div>
            <!-- end .card-box -->
            </a>
          </div>
          <!-- end .card -->
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
          <!-- begin .card -->
          <div class="card">
            <a href="#" class="card-link">
            <!-- begin .card-box -->
            <div class="card-box">
              <!-- begin .card-image -->
              <div class="card-image">
                <img src="assets/images/category-6.png" alt="Творческое развитие">
              </div>
              <!-- end .card-image -->
              <!-- begin .card-name -->
              <div class="card-name">Танцевальная студия – <span class="norm">Mix современных направлений</span> <span>5-7 лет</span></div>
              <!-- end .card-name -->
            </div>
            <!-- end .card-box -->
            </a>
          </div>
          <!-- end .card -->
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
          <!-- begin .card -->
          <div class="card">
            <a href="#" class="card-link">
            <!-- begin .card-box -->
            <div class="card-box">
              <!-- begin .card-image -->
              <div class="card-image">
                <img src="assets/images/category-7.png" alt="Творческое развитие">
              </div>
              <!-- end .card-image -->
              <!-- begin .card-name -->
              <div class="card-name">Стилизованные восточные танцы <span>4-7 лет</span></div>
              <!-- end .card-name -->
            </div>
            <!-- end .card-box -->
            </a>
          </div>
          <!-- end .card -->
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
          <!-- begin .card -->
          <div class="card">
            <a href="#" class="card-link">
            <!-- begin .card-box -->
            <div class="card-box">
              <!-- begin .card-image -->
              <div class="card-image">
                <img src="assets/images/category-8.png" alt="Творческое развитие">
              </div>
              <!-- end .card-image -->
              <!-- begin .card-name -->
              <div class="card-name">Театральная студия</div>
              <!-- end .card-name -->
            </div>
            <!-- end .card-box -->
            </a>
          </div>
          <!-- end .card -->
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
          <!-- begin .card -->
          <div class="card">
            <a href="#" class="card-link">
            <!-- begin .card-box -->
            <div class="card-box">
              <!-- begin .card-image -->
              <div class="card-image">
                <img src="assets/images/category-9.png" alt="Творческое развитие">
              </div>
              <!-- end .card-image -->
              <!-- begin .card-name -->
              <div class="card-name">Музыка и вокал <span>4-7 лет</span></div>
              <!-- end .card-name -->
              <!-- begin .card-info -->
              <div class="card-info">хор с 3 лет, вокал с 5 лет, фортепиано, гитара с 6 лет, скрипка с 3 лет</div>
              <!-- end .card-info -->
            </div>
            <!-- end .card-box -->
            </a>
          </div>
          <!-- end .card -->
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row cards-list -->
    </div>
    <!-- end .container -->
  </div>
  <!-- end .category -->
</div>
<!-- end .content-page -->
