<!-- begin .content-page -->
<div class="content-page">
  <!-- begin .category -->
  <div class="category">
    <!-- begin .container -->
    <div class="container">
      <!-- begin .box-headline -->
      <div class="box-headline text-left">
        <h1 class="h2">Танцы</h1>
      </div>
      <!-- end .box-headline -->
      <!-- begin .text -->
      <div class="text">
        <img src="assets/images/text-demo.png" alt="" class="float-left img-in-text" width="360" height="238">
        <h2 class="h3">Mix современных направлений</h2>
        <p>Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
        <p>Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
        <!-- begin .box-actions -->
        <div class="box-actions">
          <a href="#" class="button">Получить консультацию</a>
        </div>
        <!-- end .box-actions -->
      </div>
      <!-- end .text -->
      <div class="box-headline text-left">
        <h1 class="h2">Расписание</h1>
      </div>
      <!-- end .box-headline -->
      <!-- begin .row -->
      <div class="row page-timetable">
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark size-2x" rowspan="2">Время</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="icon icon-watch"></i> 10:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 17:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 18:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 19:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 20:00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark">Понедельник</th>
              </tr>
              <tr>
                <th>Зал</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="single.html">Ритмика (3-5 лет)</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Современные (9-15 лет)</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Латино (взрослые)</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Восточные (взрослые)</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark">Вторник</th>
              </tr>
              <tr>
                <th>Зал</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark">Среда</th>
              </tr>
              <tr>
                <th>Зал</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="single.html">Ритмика (3-5 лет)</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Современные (9-15 лет)</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Восточные (4-5 лет)</a></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <!-- begin .row -->
      <div class="row">
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark size-2x" rowspan="2">Время</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="icon icon-watch"></i> 10:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 17:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 18:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 19:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 20:00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark">Четверг</th>
              </tr>
              <tr>
                <th>Зал</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="single.html">Латино (взрослые)</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Восточные (взрослые)</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark">Пятница</th>
              </tr>
              <tr>
                <th>Зал</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="single.html">Восточные (4-5 лет)</a></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark">Суббота</th>
              </tr>
              <tr>
                <th>Зал</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="single.html">Ритмика (3-5 лет)</a></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <!-- begin .row -->
      <div class="row">
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark size-2x" rowspan="2">Время</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="icon icon-watch"></i> 10:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 17:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 18:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 19:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 20:00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <table class="table" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark">Воскресенье</th>
              </tr>
              <tr>
                <th>Зал</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="single.html">Латино (взрослые)</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Восточные (взрослые)</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .container -->
  </div>
  <!-- end .category -->
</div>
<!-- end .content-page -->
