<!-- begin .content-page -->
<div class="content-page">
  <!-- begin .category -->
  <div class="category">
    <!-- begin .container -->
    <div class="container">
      <!-- begin .box-headline -->
      <div class="box-headline text-left">
        <h1 class="h2">Расписание</h1>
      </div>
      <!-- begin .row -->
      <div class="row page-timetable">
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
          <table class="table table-time" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark size-2x" rowspan="2">Время</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="icon icon-watch"></i> 10:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 11:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 12:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 13:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 14:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 15:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 16:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 17:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 18:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 19:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 20:00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
          <table class="table light" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark" colspan="5">Понедельник</th>
              </tr>
              <tr>
                <th>Кабинет<br>1</th>
                <th>Кабинет<br>2</th>
                <th>Кабинет<br>3</th>
                <th>Кабинет<br>4</th>
                <th>Кабинет<br>5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
          <table class="table light" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark" colspan="5">Вторник</th>
              </tr>
              <tr>
                <th>Кабинет<br>1</th>
                <th>Кабинет<br>2</th>
                <th>Кабинет<br>3</th>
                <th>Кабинет<br>4</th>
                <th>Кабинет<br>5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <!-- begin .row -->
      <div class="row">
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
          <table class="table table-time" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark size-2x" rowspan="2">Время</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="icon icon-watch"></i> 10:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 11:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 12:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 13:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 14:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 15:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 16:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 17:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 18:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 19:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 20:00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
          <table class="table light" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark" colspan="5">Среда</th>
              </tr>
              <tr>
                <th>Кабинет<br>1</th>
                <th>Кабинет<br>2</th>
                <th>Кабинет<br>3</th>
                <th>Кабинет<br>4</th>
                <th>Кабинет<br>5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
          <table class="table light" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark" colspan="5">Четверг</th>
              </tr>
              <tr>
                <th>Кабинет<br>1</th>
                <th>Кабинет<br>2</th>
                <th>Кабинет<br>3</th>
                <th>Кабинет<br>4</th>
                <th>Кабинет<br>5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <!-- begin .row -->
      <div class="row">
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
          <table class="table table-time" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark size-2x" rowspan="2">Время</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="icon icon-watch"></i> 10:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 11:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 12:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 13:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 14:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 15:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 16:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 17:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 18:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 19:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 20:00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
          <table class="table light" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark" colspan="5">Пятница</th>
              </tr>
              <tr>
                <th>Кабинет<br>1</th>
                <th>Кабинет<br>2</th>
                <th>Кабинет<br>3</th>
                <th>Кабинет<br>4</th>
                <th>Кабинет<br>5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
          <table class="table light" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark" colspan="5">Суббота</th>
              </tr>
              <tr>
                <th>Кабинет<br>1</th>
                <th>Кабинет<br>2</th>
                <th>Кабинет<br>3</th>
                <th>Кабинет<br>4</th>
                <th>Кабинет<br>5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
      <!-- begin .row -->
      <div class="row">
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
          <table class="table table-time" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark size-2x" rowspan="2">Время</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="icon icon-watch"></i> 10:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 11:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 12:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 13:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 14:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 15:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 16:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 17:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 18:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 19:00</td>
              </tr>
              <tr>
                <td><i class="icon icon-watch"></i> 20:00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
        <!-- begin .col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
          <table class="table light" border="0" cellpadding="0" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="dark" colspan="5">Воскресенье</th>
              </tr>
              <tr>
                <th>Кабинет<br>1</th>
                <th>Кабинет<br>2</th>
                <th>Кабинет<br>3</th>
                <th>Кабинет<br>4</th>
                <th>Кабинет<br>5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td><a href="single.html">Читайка</a></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><a href="single.html">Творчество</a></td>
                <td><a href="single.html">Восточные танцы</a></td>
                <td>&nbsp;</td>
                <td><a href="single.html">Латино</a></td>
              </tr>
              <tr>
                <td><a href="single.html">Логопед</a></td>
                <td>&nbsp;<br>&nbsp;</td>
                <td>&nbsp;<br>&nbsp;</td>
                <td><a href="single.html">Читайка</a></td>
                <td><a href="single.html">Латино</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end .col -->
      </div>
      <!-- end .row -->
    </div>
    <!-- end .container -->
  </div>
  <!-- end .category -->
</div>
<!-- end .content-page -->
