.reviews {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 55px;

  &-list {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
  }

  &_item:focus { outline: none; }

  &_box {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 895px;
    margin: 0 auto;
    justify-content: center;
  }

  &_author {
    margin-bottom: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;

    &_photo {
      margin-bottom: 30px;
      border-radius: 50%;

      img {
        vertical-align: bottom;
      }
    }

    &_name {
      color: #1c1024;
      font-family: 'FuturaDemiC';
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      position: relative;
      text-align: center;

      &:after {
        position: absolute;
        content: '';
        bottom: -12px;
        left: 50%;
        margin-right: -50%;
        transform: translateX(-50%);
        right: 0;
        border-bottom: 1px solid #ccced4;
        height: 1px;
        width: calc( 100% - 20px );
      }
    }
  }

  &_text {
    color: #7a7f8b;
    font-family: 'FuturaBookC';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

    p {
      color: #7a7f8b;
      font-family: 'FuturaBookC';
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
    }
  }


  .slick-arrow {
    z-index: 40;

    &.slick-prev {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: auto;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border-radius: 50%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      transition: all .3s ease;

      &:before {
        opacity: .7;
        position: absolute;
        content: '';
        @include size(51px);
        background-image: resolve('assets/images/slider-left-gray.png');
      }

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    &.slick-next {
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      left: auto;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border-radius: 50%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      transition: all .3s ease;

      &:before {
        opacity: .7;
        position: absolute;
        content: '';
        @include size(51px);
        background-image: resolve('assets/images/slider-right-gray.png');
      }

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}
