<!-- begin .reviews -->
<section class="reviews">
  <!-- begin .container -->
  <div class="container">
    <!-- begin .box-headline -->
    <div class="box-headline">
      <h2 class="h2">Отзывы</h2>
    </div>
    <!-- end .box-headline -->
    <!-- begin .row -->
    <div class="row">
      <!-- begin .reviews-list -->
      <div class="reviews-list">
        <!-- begin .reviews_item -->
        <div class="reviews_item">
          <!-- begin .reviews_box -->
          <div class="reviews_box">
            <!-- begin .reviews_author -->
            <div class="reviews_author">
              <!-- begin .reviews_author_photo -->
              <div class="reviews_author_photo">
                <img src="assets/images/reviews-1.png" alt="">
              </div>
              <!-- end .reviews_author_photo -->
              <!-- begin .reviews_author_name -->
              <div class="reviews_author_name">Семенова Ольга Николаевна</div>
              <!-- end .reviews_author_name -->
            </div>
            <!-- end .reviews_author -->
            <!-- begin .reviews_text -->
            <div class="reviews_text">
              <p>Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
            </div>
            <!-- end .reviews_text -->
          </div>
          <!-- end .reviews_box -->
        </div>
        <!-- end .reviews_item -->
        <!-- begin .reviews_item -->
        <div class="reviews_item">
          <!-- begin .reviews_box -->
          <div class="reviews_box">
            <!-- begin .reviews_author -->
            <div class="reviews_author">
              <!-- begin .reviews_author_photo -->
              <div class="reviews_author_photo">
                <img src="assets/images/reviews-1.png" alt="">
              </div>
              <!-- end .reviews_author_photo -->
              <!-- begin .reviews_author_name -->
              <div class="reviews_author_name">Семенова Ольга Николаевна</div>
              <!-- end .reviews_author_name -->
            </div>
            <!-- end .reviews_author -->
            <!-- begin .reviews_text -->
            <div class="reviews_text">
              <p>Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
            </div>
            <!-- end .reviews_text -->
          </div>
          <!-- end .reviews_box -->
        </div>
        <!-- end .reviews_item -->
      </div>
      <!-- end .reviews-list -->
    </div>
    <!-- end .row -->
    <!-- begin .box-actions -->
    <div class="box-actions">
      <a href="" class="button">Все отзывы</a>
    </div>
    <!-- end .box-actions -->
  </div>
  <!-- end .container -->
</section>
<!-- end .reviews -->
