<!-- begin .feed -->
<section class="feed">
  <!-- begin .container -->
  <div class="container">
    <!-- begin .row -->
    <div class="row">
      <!-- begin .col-xs-6 -->
      <div class="col-xs-6">
        <!-- begin .box-headline -->
        <div class="box-headline">
          <h2 class="h2">Новости</h2>
        </div>
        <!-- end .box-headline -->
      </div>
      <!-- end .col-xs-6 -->
      <!-- begin .col-xs-6 -->
      <div class="col-xs-6">
        <!-- begin .box-headline -->
        <div class="box-headline">
          <h2 class="h2">Полезные материалы</h2>
        </div>
        <!-- end .box-headline -->
      </div>
      <!-- end .col-xs-6 -->
    </div>
    <!-- end .row -->
  </div>
  <!-- end .container -->
</section>
<!-- end .feed -->
