<!-- begin .feed -->
<section class="feed">
  <!-- begin .container -->
  <div class="container">
    <!-- begin .row -->
    <div class="row">
      <!-- begin .col -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- begin .box-headline -->
        <div class="box-headline">
          <h2 class="h2">Новости</h2>
        </div>
        <!-- end .box-headline -->
        <!-- begin .feed-list -->
        <div class="feed-list">
          <!-- begin .feed_item -->
          <div class="feed_item"><a href="" class="feed-link">
            <!-- begin .feed_box -->
            <div class="feed_box">
              <!-- begin .feed_photo -->
              <div class="feed_photo"><img src="assets/images/feed-1.png" alt="Lorem Ipsum - это текст-рыба"></div>
              <!-- end .feed_photo -->
              <!-- begin .feed_content -->
              <div class="feed_content">
                <!-- begin .feed_date -->
                <div class="feed_date"><span>23.05.18</span></div>
                <!-- end .feed_date -->
                <!-- begin .feed_header -->
                <div class="feed_header">
                  <!-- begin .h3 -->
                  <h3 class="h3">Lorem Ipsum - это текст-рыба</h3>
                  <!-- end .h3 -->
                </div>
                <!-- end .feed_header -->
                <!-- begin .feed_text -->
                <div class="feed_text">
                  <p>Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой для текстов на латинице с начала XVI века.</p>
                </div>
                <!-- end .feed_text -->
              </div>
              <!-- end .feed_content -->
            </div>
            <!-- end .feed_box -->
          </a></div>
          <!-- end .feed_item -->
          <!-- begin .feed_item -->
          <div class="feed_item"><a href="" class="feed-link">
            <!-- begin .feed_box -->
            <div class="feed_box">
              <!-- begin .feed_photo -->
              <div class="feed_photo"><img src="assets/images/feed-2.png" alt="Lorem Ipsum - это текст-рыба"></div>
              <!-- end .feed_photo -->
              <!-- begin .feed_content -->
              <div class="feed_content">
                <!-- begin .feed_date -->
                <div class="feed_date"><span>23.05.18</span></div>
                <!-- end .feed_date -->
                <!-- begin .feed_header -->
                <div class="feed_header">
                  <!-- begin .h3 -->
                  <h3 class="h3">Lorem Ipsum - это текст-рыба</h3>
                  <!-- end .h3 -->
                </div>
                <!-- end .feed_header -->
                <!-- begin .feed_text -->
                <div class="feed_text">
                  <p>Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой для текстов на латинице с начала XVI века.</p>
                </div>
                <!-- end .feed_text -->
              </div>
              <!-- end .feed_content -->
            </div>
            <!-- end .feed_box -->
          </a></div>
          <!-- end .feed_item -->
          <!-- begin .feed_item -->
          <div class="feed_item"><a href="" class="feed-link">
            <!-- begin .feed_box -->
            <div class="feed_box">
              <!-- begin .feed_photo -->
              <div class="feed_photo"><img src="assets/images/feed-3.png" alt="Lorem Ipsum - это текст-рыба"></div>
              <!-- end .feed_photo -->
              <!-- begin .feed_content -->
              <div class="feed_content">
                <!-- begin .feed_date -->
                <div class="feed_date"><span>23.05.18</span></div>
                <!-- end .feed_date -->
                <!-- begin .feed_header -->
                <div class="feed_header">
                  <!-- begin .h3 -->
                  <h3 class="h3">Lorem Ipsum - это текст-рыба</h3>
                  <!-- end .h3 -->
                </div>
                <!-- end .feed_header -->
                <!-- begin .feed_text -->
                <div class="feed_text">
                  <p>Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой для текстов на латинице с начала XVI века.</p>
                </div>
                <!-- end .feed_text -->
              </div>
              <!-- end .feed_content -->
            </div>
            <!-- end .feed_box -->
          </a></div>
          <!-- end .feed_item -->
        </div>
        <!-- end .feed-list -->
      </div>
      <!-- end .col -->
      <!-- begin .col -->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <!-- begin .box-headline -->
        <div class="box-headline">
          <h2 class="h2">Полезные материалы</h2>
        </div>
        <!-- end .box-headline -->
        <!-- begin .feed-list -->
        <div class="feed-list">
          <!-- begin .feed_item -->
          <div class="feed_item"><a href="" class="feed-link">
            <!-- begin .feed_box -->
            <div class="feed_box">
              <!-- begin .feed_photo -->
              <div class="feed_photo">
                <img src="assets/images/feed-4.png" alt="Lorem Ipsum - это текст-рыба">
              </div>
              <!-- end .feed_photo -->
              <!-- begin .feed_content -->
              <div class="feed_content">
                <!-- begin .feed_header -->
                <div class="feed_header">
                  <!-- begin .h3 -->
                  <h3 class="h3">Lorem Ipsum - это текст-рыба</h3>
                  <!-- end .h3 -->
                </div>
                <!-- end .feed_header -->
                <!-- begin .feed_text -->
                <div class="feed_text">
                  <p>Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой для текстов на латинице с начала XVI века.</p>
                </div>
                <!-- end .feed_text -->
              </div>
              <!-- end .feed_content -->
            </div>
            <!-- end .feed_box -->
          </a></div>
          <!-- end .feed_item -->
          <!-- begin .feed_item -->
          <div class="feed_item"><a href="" class="feed-link">
            <!-- begin .feed_box -->
            <div class="feed_box">
              <!-- begin .feed_photo -->
              <div class="feed_photo"><img src="assets/images/feed-5.png" alt="Lorem Ipsum - это текст-рыба"></div>
              <!-- end .feed_photo -->
              <!-- begin .feed_content -->
              <div class="feed_content">
                <!-- begin .feed_header -->
                <div class="feed_header">
                  <!-- begin .h3 -->
                  <h3 class="h3">Lorem Ipsum - это текст-рыба</h3>
                  <!-- end .h3 -->
                </div>
                <!-- end .feed_header -->
                <!-- begin .feed_text -->
                <div class="feed_text">
                  <p>Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой для текстов на латинице с начала XVI века.</p>
                </div>
                <!-- end .feed_text -->
              </div>
              <!-- end .feed_content -->
            </div>
            <!-- end .feed_box -->
          </a></div>
          <!-- end .feed_item -->
          <!-- begin .feed_item -->
          <div class="feed_item"><a href="" class="feed-link">
            <!-- begin .feed_box -->
            <div class="feed_box">
              <!-- begin .feed_photo -->
              <div class="feed_photo"><img src="assets/images/feed-6.png" alt="Lorem Ipsum - это текст-рыба"></div>
              <!-- end .feed_photo -->
              <!-- begin .feed_content -->
              <div class="feed_content">
                <!-- begin .feed_header -->
                <div class="feed_header">
                  <!-- begin .h3 -->
                  <h3 class="h3">Lorem Ipsum - это текст-рыба</h3>
                  <!-- end .h3 -->
                </div>
                <!-- end .feed_header -->
                <!-- begin .feed_text -->
                <div class="feed_text">
                  <p>Lorem Ipsum - это текст-рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой для текстов на латинице с начала XVI века.</p>
                </div>
                <!-- end .feed_text -->
              </div>
              <!-- end .feed_content -->
            </div>
            <!-- end .feed_box -->
          </a></div>
          <!-- end .feed_item -->
        </div>
        <!-- end .feed-list -->
      </div>
      <!-- end .col -->
    </div>
    <!-- end .row -->
  </div>
  <!-- end .container -->
</section>
<!-- end .feed -->
