<!-- в случае тестирования разбейте стекло комментариев
  <div class="px2px"></div>
-->
<header class="header">
  <!-- begin .header_wrap -->
  <div class="header_wrap">
    <!-- begin .container -->
    <div class="container">
      <!-- begin .header_box -->
      <div class="header_box">
        <!-- begin .header_address -->
        <div class="header_address">
          <address class="contacts_address">
            <!-- begin .contacts_address_info -->
            <div class="contacts_address_info">г. Москва, ул. Ленина, офис 104</div>
            <!-- end .contacts_address_info -->
            <!-- begin .contacts_address_time -->
            <div class="contacts_address_time contacts-time">
              <!-- begin .contacts-time_icon -->
              <div class="contacts-time_icon"><img src="assets/images/watch-yellow.png" alt="Время работы" width="19" height="19"></div>
              <!-- end .contacts-time_icon -->
              <!-- begin .contacts-time_time -->
              <div class="contacts-time_time">с 9:00 до 21:00</div>
              <!-- end .contacts-time_time -->
            </div>
            <!-- end .contacts_address_time -->
          </address>
        </div>
        <!-- end .header_address -->
        <!-- begin .header_company -->
        <div class="header_company">
          <a href="" class="logo">
            <span class="logo-img">
              <img src="assets/images/logo-white-big.png" alt="Центр Роста: Совместный проект Института Развития Личности и Программ Сильного Мышления под руководством И.А.Гавриловой" width="81" height="71">
            </span>
            <span class="logo-name">Центр Роста</span>
          </a>
          <p class="company-info">Совместный проект Института Развития Личности и Программ Сильного Мышления под руководством И.А.Гавриловой</p>
        </div>
        <!-- end .header_company -->
        <!-- begin .header_contact -->
        <div class="header_contact">
          <div class="mini-title">Наши контакты</div>
          <a href="tel:+74953503550" class="contacts_tel tel tel--big">+7 495 350 35 50</a>
          <a href="tel:+74952707580" class="contacts_tel tel tel--big">+7 495 270 75 80</a>
          <a href="" class="contacts_email">centr_rosta@info.ru</a>
        </div>
        <!-- end .header_contact -->
      </div>
      <!-- end .header_box -->
    </div>
    <!-- end .container -->
  </div>
  <!-- end .header_wrap -->
  <!-- begin .header-nav -->
  <nav class="header-nav">
    <!-- begin .container -->
    <div class="container">
      <!-- begin .menu -->
      <ul class="menu">
        <li class="menu_item"><a href="/" class="menu_link">Главная</a></li>
        <li class="menu_item"><a href="/" class="menu_link">Информация о центре</a></li>
        <li class="menu_item"><a href="/" class="menu_link">Программы</a></li>
        <li class="menu_item"><a href="/" class="menu_link">Преподаватели</a></li>
        <li class="menu_item"><a href="/" class="menu_link">Отзывы</a></li>
        <li class="menu_item"><a href="/" class="menu_link">Новости</a></li>
        <li class="menu_item"><a href="/" class="menu_link">Контакты</a></li>
      </ul>
      <!-- end .menu -->
    </div>
    <!-- end .container -->
  </nav>
  <!-- end .header-nav -->
</header>
