<!-- в случае тестирования разбейте стекло комментариев
  <div class="px2px"></div>
-->
<header class="header">
  <!-- begin .header_wrap -->
  <div class="header_wrap">
123
  </div>
  <!-- end .header_wrap -->
  <!-- begin .header-nav -->
  <nav class="header-nav">
    <!-- begin .container -->
    <div class="container">
      <!-- begin .menu -->
      <ul class="menu">
        <li class="menu_item"><a href="/" class="menu_link">Главная</a></li>
        <li class="menu_item"><a href="/" class="menu_link">Информация о центре</a></li>
        <li class="menu_item"><a href="/" class="menu_link">Программы</a></li>
        <li class="menu_item"><a href="/" class="menu_link">Преподаватели</a></li>
        <li class="menu_item"><a href="/" class="menu_link">Отзывы</a></li>
        <li class="menu_item"><a href="/" class="menu_link">Новости</a></li>
        <li class="menu_item"><a href="/" class="menu_link">Контакты</a></li>
      </ul>
      <!-- end .menu -->
    </div>
    <!-- end .container -->
  </nav>
  <!-- end .header-nav -->
</header>
