.header {

  &_wrap {
    background-color: #633e7a;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;

    @media #{$lg} {
      padding-top: 27px;
      padding-bottom: 27px;
    }
  }

  &_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    @media #{$lg} {
      flex-direction: row;
      align-items: stretch;
      align-content: stretch;
      justify-content: space-between;
    }
  }

  &-nav {
    background-color: #1c1024;
    transition: all .3s ease;

    &.is-fixed {
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }

  &_address {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
    margin-bottom: 20px;

    @media #{$lg} {
      margin-bottom: 0;
      margin-top: 20px;
      min-width: 260px;
    }

    .search {
      margin-top: auto;
      padding-right: 20px;
    }
  }

  &_contact {
    margin-top: 20px;

    @media #{$lg} {
      min-width: 260px;
      text-align: right;
    }

    .tel {
      color: #fff;
      font-size: 20px;
    }

    .contacts_email {
      color: #fedf11;
      font-weight: 400;
    }
  }

  &_company {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;

    @media #{$lg} {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .contacts_address {
    margin-top: 0;
    text-align: left;

    &_info {
      font-size: 18px;
      color: #ffffff;
      margin-bottom: 5px;
    }

    &_time {
      font-size: 16px;
      color: #cbadd7;
      justify-content: flex-start;
    }
  }

  .logo {
    border-bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;

    &-img {
      margin-bottom: 12px;

      img {
        vertical-align: bottom;
      }
    }

    &-name {
      color: #fff;
      font-family: 'FuturaDemiC';
      font-size: 30px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
  }

  .company-info {
    color: #cbadd7;
    font-family: 'FuturaBookC';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  .mini-title {
    color: #cbadd7;
    font-family: 'FuturaBookC';
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
  }
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  &_link {
    display: block;
    font-family: 'FuturaDemiC';
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    padding: 20px 2px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 0;
    text-decoration: none;

    &:hover {
      color: #fedf11;
    }
  }
}

.social-light {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;

  @media #{$lg} {
    justify-content: flex-end;
  }

  &_item {
    margin-right: 20px;

    &:last-child { margin-right: 0; }
  }

  &_link {
    border-bottom: 0;
  }
}
