.slider {
  background-color: #e9e9e9;
  position: relative;
  height: 350px;
}

.sliders {
  width: 100%;
  height: 350px;

  &-item {
    min-height: 350px;
    background-image: linear-gradient(to top, rgba(215, 215, 215, .44) 0%, rgba(255, 255, 255, .44) 100%);
    overflow: hidden;
    position: relative;

    .container {
      position: relative;
    }

    &_bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 350px;
      z-index: 0;
      background-attachment: scroll;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &_photo {
      position: absolute;
      height: 100%;
      width: auto;
      right: 0;
      bottom: -2px;
      z-index: 0;

      img {
        vertical-align: middle;
      }

      &_caption {
        position: absolute;
        z-index: 1;
        width: 350px;
        height: 200px;
        top: 147px;
        right: 127px;
        padding: 40px 40px;
        text-align: center;

        .sliders-photo-caption_big {
          font-family: 'FuturaDemiC';
          font-weight: 400;
          line-height: 48px;
          color: #fedf11;
          font-size: 60px;
          text-transform: uppercase;
          position: relative;
          text-align: center;

          span {
            display: block;
            color: #633e7a;
            font-size: 48px;
            text-transform: none;
          }

          &:after {
            position: absolute;
            content: '';
            bottom: -8px;
            left: 50%;
            margin-right: -50%;
            transform: translateX(-50%);
            right: 0;
            border-bottom: 1px solid #fedf11;
            height: 1px;
            width: calc( 100% - 40px );
          }
        }

        .sliders-photo-caption_text {
          color: #1c1024;
          font-family: 'Alexander';
          font-size: 24px;
          font-weight: 400;
          line-height: 48px;
        }
      }
    }

    &_content {
      position: absolute;
      height: 100%;
      width: 556px;
      padding: 50px 20px;
    }

    &_header {
      font-family: 'FuturaDemiC';
      font-weight: 400;
      font-size: 28px;
      line-height: 24px;
      margin-bottom: 20px;
      color: #1c1024;

      &:last-child { margin-bottom: 0; }

      span {
        color: #633e7a;
        font-size: 36px;
        line-height: 40px;
      }
    }

    &_action {
      margin-top: 40px;
    }

    &:focus { outline: none; }

    &--1 {
      background-image: none;
      background-color: #1c1024;

      .sliders-item_content {
        background-color: rgba(28, 16, 36, .72);
        height: 350px;
      }

      .sliders-item_header {
        color: #ffffff;

        span {
          color: #ffffff;
        }
      }
    }
  }

  .slick-arrow {
    z-index: 40;

    &.slick-prev {
      top: 50%;
      transform: translateY(-50%);
      left: 170px;
      right: auto;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border-radius: 50%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      transition: all .3s ease;

      &:before {
        opacity: 1;
        position: absolute;
        content: '';
        @include size(50px);
        background-image: resolve('assets/images/slider-left-white.png');
      }

      &:hover {
        cursor: pointer;
        background-color: #fedf11;
      }
    }

    &.slick-next {
      top: 50%;
      transform: translateY(-50%);
      right: 170px;
      left: auto;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border-radius: 50%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      transition: all .3s ease;

      &:before {
        opacity: 1;
        position: absolute;
        content: '';
        @include size(50px);
        background-image: resolve('assets/images/slider-right-white.png');
      }

      &:hover {
        cursor: pointer;
        background-color: #fedf11;
      }
    }
  }
}
