<!-- begin .slider -->
<section class="slider">
  <!-- begin .slider-control -->
  <div class="slider-control"></div>
  <!-- end .slider-control -->
  <!-- begin .sliders -->
  <div class="sliders">
    <!-- begin .sliders-item -->
    <div class="sliders-item sliders-item--1 hide">
      <!-- begin .sliders-item_bg -->
      <div class="sliders-item_bg" style="background-image: url('assets/images/slider-1.png');"></div>
      <!-- end .sliders-item_bg -->
      <!-- begin .container -->
      <div class="container">
        <!-- begin .sliders-item_content -->
        <div class="sliders-item_content">
          <div class="sliders-item_header">ПРИВЕДИ ДРУГА и получи постоянную скидку <span>10%</span> на свой абонемент</div>
          <div class="sliders-item_header">Приведи <span>10 друзей</span> и занимайся бесплатно!<sup>*</sup></div>
          <!-- begin .sliders-item_action -->
          <div class="sliders-item_action">
            <a href="" class="button">Узнать подробнее</a>
          </div>
          <!-- end .sliders-item_action -->
        </div>
        <!-- end .sliders-item_content -->
      </div>
      <!-- end .container -->
    </div>
    <!-- end .sliders-item -->
    <!-- begin .sliders-item -->
    <div class="sliders-item sliders-item--2 hide">
      <!-- begin .container -->
      <div class="container">
        <!-- begin .sliders-item_content -->
        <div class="sliders-item_content">
          <div class="sliders-item_header">ПРИВЕДИ ДРУГА и получи постоянную скидку <span>10%</span> на свой абонемент</div>
          <div class="sliders-item_header">Приведи <span>10 друзей</span> и занимайся бесплатно!<sup>*</sup></div>
          <!-- begin .sliders-item_action -->
          <div class="sliders-item_action">
            <a href="" class="button">Узнать подробнее</a>
          </div>
          <!-- end .sliders-item_action -->
        </div>
        <!-- end .sliders-item_content -->
        <!-- begin .sliders-item_photo -->
        <div class="sliders-item_photo"><img src="assets/images/slider-2.png" alt="" width="607" height="348"></div>
        <!-- end .sliders-item_photo -->
      </div>
      <!-- end .container -->
    </div>
    <!-- end .sliders-item -->
    <!-- begin .sliders-item -->
    <div class="sliders-item sliders-item--3">
      <!-- begin .container -->
      <div class="container">
        <!-- begin .sliders-item_content -->
        <div class="sliders-item_content">
          <div class="sliders-item_header">ПРИВЕДИ ДРУГА и получи постоянную скидку <span>10%</span> на свой абонемент</div>
          <div class="sliders-item_header">Приведи <span>10 друзей</span> и занимайся бесплатно!<sup>*</sup></div>
          <!-- begin .sliders-item_action -->
          <div class="sliders-item_action">
            <a href="" class="button">Узнать подробнее</a>
          </div>
          <!-- end .sliders-item_action -->
        </div>
        <!-- end .sliders-item_content -->
        <!-- begin .sliders-item_photo -->
        <div class="sliders-item_photo">
          <img src="assets/images/slider-3.png" alt="" width="607" height="348">
          <!-- begin .sliders-item_photo_caption -->
          <div class="sliders-item_photo_caption">
            <!-- begin .sliders-photo-caption_big -->
            <div class="sliders-photo-caption_big">Акция <span> за дружбу!</span></div>
            <!-- end .sliders-photo-caption_big -->
            <!-- begin .sliders-photo-caption_text -->
            <div class="sliders-photo-caption_text">Вместе дешевле!</div>
            <!-- end .sliders-photo-caption_text -->
          </div>
          <!-- end .sliders-item_photo_caption -->
        </div>
        <!-- end .sliders-item_photo -->
      </div>
      <!-- end .container -->
    </div>
    <!-- end .sliders-item -->
  </div>
  <!-- end .sliders -->
  <!-- begin .slider-control -->
  <div class="slider-control"></div>
  <!-- end .slider-control -->
</section>
<!-- end .slider -->
