.teachers {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 55px;
  font-family: 'FuturaDemiC';

  &-list {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &_photo {
    margin-bottom: 30px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-end;

    img {
      vertical-align: middle;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  &_position {
    color: #633e7a;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &_name {
    color: #1c1024;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 10px;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      bottom: -8px;
      left: 50%;
      margin-right: -50%;
      transform: translateX(-50%);
      right: 0;
      border-bottom: 1px solid #ccced4;
      height: 1px;
      width: calc( 100% - 20px );
    }
  }

  &_experience {
    padding: 5px 20px 0 20px;
    color: #9499a3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    text-align: center;
  }
}
