<!-- begin .teachers -->
<section class="teachers">
  <!-- begin .container -->
  <div class="container">
    <!-- begin .box-headline -->
    <div class="box-headline">
      <h2 class="h2">Преподаватели</h2>
    </div>
    <!-- end .box-headline -->
    <!-- begin .row -->
    <div class="row teachers-list">
      <!-- begin .col-xs-3 -->
      <div class="col-xs-3">

        <!-- begin .teachers_box -->
        <div class="teachers_box">
          <!-- begin .teachers_photo -->
          <div class="teachers_photo">
            <img src="" alt="" width="" height="">
          </div>
          <!-- end .teachers_photo -->
          <!-- begin .teachers_info -->
          <div class="teachers_info">
            <!-- begin .teachers_position -->
            <div class="teachers_position">Название профессии </div>
            <!-- end .teachers_position -->
            <!-- begin .teachers_name -->
            <div class="teachers_name">Семенова Ольга Николаевна</div>
            <!-- end .teachers_name -->
            <!-- begin .teachers_experience -->
            <div class="teachers_experience">Опыт работы: 15 лет</div>
            <!-- end .teachers_experience -->
          </div>
          <!-- end .teachers_info -->
        </div>
        <!-- end .teachers_box -->

      </div>
      <!-- end .col-xs-3 -->
      <!-- begin .col-xs-3 -->
      <div class="col-xs-3">

        <!-- begin .teachers_box -->
        <div class="teachers_box">
          <!-- begin .teachers_photo -->
          <div class="teachers_photo">
            <img src="" alt="" width="" height="">
          </div>
          <!-- end .teachers_photo -->
          <!-- begin .teachers_info -->
          <div class="teachers_info">
            <!-- begin .teachers_position -->
            <div class="teachers_position">Название профессии </div>
            <!-- end .teachers_position -->
            <!-- begin .teachers_name -->
            <div class="teachers_name">Петров Анатолий Николаевич</div>
            <!-- end .teachers_name -->
            <!-- begin .teachers_experience -->
            <div class="teachers_experience">Опыт работы: 15 лет</div>
            <!-- end .teachers_experience -->
          </div>
          <!-- end .teachers_info -->
        </div>
        <!-- end .teachers_box -->

      </div>
      <!-- end .col-xs-3 -->
      <!-- begin .col-xs-3 -->
      <div class="col-xs-3">

        <!-- begin .teachers_box -->
        <div class="teachers_box">
          <!-- begin .teachers_photo -->
          <div class="teachers_photo">
            <img src="" alt="" width="" height="">
          </div>
          <!-- end .teachers_photo -->
          <!-- begin .teachers_info -->
          <div class="teachers_info">
            <!-- begin .teachers_position -->
            <div class="teachers_position">Название профессии </div>
            <!-- end .teachers_position -->
            <!-- begin .teachers_name -->
            <div class="teachers_name">Семенова Ольга Николаевна</div>
            <!-- end .teachers_name -->
            <!-- begin .teachers_experience -->
            <div class="teachers_experience">Опыт работы: 15 лет</div>
            <!-- end .teachers_experience -->
          </div>
          <!-- end .teachers_info -->
        </div>
        <!-- end .teachers_box -->

      </div>
      <!-- end .col-xs-3 -->
      <!-- begin .col-xs-3 -->
      <div class="col-xs-3">

        <!-- begin .teachers_box -->
        <div class="teachers_box">
          <!-- begin .teachers_photo -->
          <div class="teachers_photo">
            <img src="" alt="" width="" height="">
          </div>
          <!-- end .teachers_photo -->
          <!-- begin .teachers_info -->
          <div class="teachers_info">
            <!-- begin .teachers_position -->
            <div class="teachers_position">Название профессии </div>
            <!-- end .teachers_position -->
            <!-- begin .teachers_name -->
            <div class="teachers_name">Семенова Ольга Николаевна</div>
            <!-- end .teachers_name -->
            <!-- begin .teachers_experience -->
            <div class="teachers_experience">Опыт работы: 15 лет</div>
            <!-- end .teachers_experience -->
          </div>
          <!-- end .teachers_info -->
        </div>
        <!-- end .teachers_box -->

      </div>
      <!-- end .col-xs-3 -->
    </div>
    <!-- end .row -->
    <!-- begin .box-actions -->
    <div class="box-actions">
      <a href="" class="button">Смотреть всех</a>
    </div>
    <!-- end .box-actions -->
  </div>
  <!-- end .container -->
</section>
<!-- end .teachers -->
