<!-- begin .teachers -->
<div class="teachers">
  <!-- begin .container -->
  <div class="container">
    <h2 class="h2">Преподаватели</h2>
    <!-- begin .row -->
    <div class="row">
      <!-- begin .col-xs-3 -->
      <div class="col-xs-3"></div>
      <!-- end .col-xs-3 -->
      <!-- begin .col-xs-3 -->
      <div class="col-xs-3"></div>
      <!-- end .col-xs-3 -->
      <!-- begin .col-xs-3 -->
      <div class="col-xs-3"></div>
      <!-- end .col-xs-3 -->
      <!-- begin .col-xs-3 -->
      <div class="col-xs-3"></div>
      <!-- end .col-xs-3 -->
    </div>
    <!-- end .row -->
    <!-- begin .box-actions -->
    <div class="box-actions">
      <a href="" class="button">Смотреть всех</a>
    </div>
    <!-- end .box-actions -->
  </div>
  <!-- end .container -->
</div>
<!-- end .teachers -->
